<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
</head>
<body>
    <h2>Halaman Home</h2>
        <a href="/isi_saldo"><button>Top up</button></a><p>
        <a href="/transfer"><button>Transfer</button></a><p>
        <a href="/tarik_tunai"><button>Tarik Tunai</button></a><p>
</body>
</html>