<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
</head>
<body>
    <header>
    <h2>Halaman Utama</h2>    
    </header>

    <h2> Selamat Datang di Aplikasi Berbagi Dana Secara Instan </h2>
    <a href=" {{ url_for('masuk')}}"><button>masuk<button></a>

</body>
</html>



