<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Halaman Tarik Tunai</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
</head>
<body>
    <h2>Pilih Metode Tarik Tunai :</h2>
    <button>ATM</button></a><p>
    <button>Indomaret</button></a><p>
    <button>Agen BRILink</button></a><p>
        <a href=" {{ url_for('Home')}}"><button>Kembali<button></a>
</body>
</html>